<div class="loginSection">
<button class="btn btn-success">Login</button>
</div>
<div class="navBar">
    
    <img src="{{logoSource}}" class="ImageCSS" [routerLink]="['/home']">
    
    <div class="NAVCSS">
        <button [routerLink]="['/home']" class="btn btn-outline-primary" aria-pressed="true">Home</button>
        <button [routerLink]="['/settings']"class="btn btn-outline-primary">Settings</button>
        <button [routerLink]="['/profile']"class="btn btn-outline-primary">Profile</button>
        <button [routerLink]="['/statistics']"class="btn btn-outline-primary">Statistics</button>
        <button [routerLink]="['/about']"class="btn btn-outline-primary">About</button>
    </div>




</div>

