<h1>About us.</h1>
<h3>What is Power To Heat?</h3>
<p>Power To Heat is a way to reduce the energy cost for you. With power to heat we can provide a more stable energy net
    this stability will reduce the energy price for you!</p>

<h3>Who are we?</h3>

<p>A group of students that are facinated by energy, ICT and electronics.</p>

<h3>How does it work?</h3>

<p>Sometimes using more energy can be cheaper than using less. This is the main reason why power to heat works so well. 
<br>
    When a country (or region) generates too much energy this excess in energy has to be sold off to other countries. This might seem
    like a good idea in theory but in reality it's not that great. To sell off the energy the country that has too much has to pay
    to get rid of their excess of energy. As a result its alot cheaper to use more energy at those moments than sell it to other countries.
<br><br></p>

<h4> How can a country use alot of energy at moments when usage is low such as at night? </h4>

<p>That's where our project comes in. We can toggle on or off boilers and use this to control the energy used by a great section of the population.
       <br>The energy producer doesn't have to pay to get rid of their energy and the users get very cheap energy! A win-win situation.
</p>
<br>
<h3>Why are there limits to the temperature I can set?</h3>
<h5>Minimum Temperature</h5>
<p>Inside a boiler the temperature cannot be lower than 55°C this is for safety, at temperatures lower than 50°C the legionella
    bacteria can survive. Due to the severity of this bacteria we keep a 5°C margin for safety.
<br>
</p>
<h5>Maximum Temperature</h5>
<p>
    There is also an upper limit, this maximum temperature cannot be too high because otherwise there would be steam build up which
    can result in other safety issues.</p>

<h5>Preferred Temperature</h5>
    <p>Because of these limits the temperature you can set has to be between a certain range.
</p>